.register-container {
    width: 500px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.register-container>label {
    margin-top: 10px;
}

.register-form-error {
    font-size: 10px;
    color: red;
    margin: 0;
    margin-bottom: -10px;
}