#quantity {
    width: auto;
}

.product-price {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.product-current-price {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.product-previous-price {
    margin: 0;
    text-decoration: line-through;
    margin-left: 0.5rem;
}

.checked {
    color: orange;
}